<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Application SpringBoot</title>

        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    </head>
    <body>
        <div id="form">
            <h1 align="center">Send A Message</h1>

            <form action="#" th:action="@{/}"  th:object="${MessageModel}" method="post" align="center">
                <p>
                    From : <input type="text" th:field="*{from}">
                </p>

                <p>
                    To : <input type="text" th:field="*{to}">
                </p>
                <p>
                    Object : <input type="text" th:field="*{object}">
                </p>
                <p>
                    Message : <input type="text" th:field="*{body}">
                </p>

                <p>
                    <input type="submit" value="Submit"/> <input type="reset" value="Reset">
                </p>
            </form>
        </div>

        <div id="response" >
            <h1 align="center">Response</h1>
            <table id="table" align="center">
                <thead>
                    <th> From </th>
                    <th> To </th>
                    <th> Object </th>
                    <th> Message </th>
                </thead>
                <tbody>
                    <tr th:each="item : ${messageList}">
                        <td th:text="${item.from}"></td>
                        <td th:text="${item.to}"></td>
                        <td th:text="${item.object}"></td>
                        <td th:text="${item.body}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
</html>
